/*
  Main Stylesheet
*/

.modal {
  background-color: rgba(0, 0, 25, 0.5);
  display: none;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}

.modal--show {
  display: block;
}

.modal__image {
  height: 100%;
}
